<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>129466691487-0fu2s7cfd175r1oefb81bt5a3jhje9ef.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.129466691487-0fu2s7cfd175r1oefb81bt5a3jhje9ef</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>129466691487-bacuolr1go67ggi0q6k6s4etjf1ua47k.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDNNDhQzlRvYDwMCtwZQBpsJNrAArlLO7c</string>
	<key>GCM_SENDER_ID</key>
	<string>129466691487</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sabinhantu.calorie-counter</string>
	<key>PROJECT_ID</key>
	<string>caloriecounter-f17fb</string>
	<key>STORAGE_BUCKET</key>
	<string>caloriecounter-f17fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:129466691487:ios:b82c3715a3e7eece</string>
	<key>DATABASE_URL</key>
	<string>https://caloriecounter-f17fb.firebaseio.com</string>
</dict>
</plist>